/* CSS Sheet for Circadian Calculator */
html,body{
  font-family: arial;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.1rem;
  scroll-behavior: smooth;
}

ul {
   list-style:none;
}

html, body{
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

#content{
  height: 100%;
  min-height: 100%;
}

#SPDTableRow{
  max-height: 400px;
  overflow: auto;
}

#content{
  margin-top: 1.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.pointer:hover{
  cursor: pointer !important;
}

.w-80{
  width: 80%;
}

.w-40{
  width: 40%;
}

.w-30{
  width: 30%;
}

.w-20{
  width: 20%;
}

.w-10{
  width: 10%;
}


.drop-shadow {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.18), 0 10px 10px rgba(0, 0, 0, 0.24);
}

.help-menu-list{
  height: calc(90vh - 2px);
  list-style: none;
  margin: 0;
  max-height: calc(90vh - 2px);
  padding: 0;
}

.help-menu-list-item{
  background-color: rgb(235,235,235);
  border-bottom: 1px solid rgb(0,0,0);
  border-bottom: 1px solid rgba(0,0,0,.125);
  border-right: 1px solid rgb(0,0,0);
  border-right: 1px solid rgba(0,0,0,.125);
  box-sizing: border-box;
  height: 33.3%;
  max-height: 33.3%;
  padding: 0;
  width: 100%;
}

.help-menu-list-item:first-child{
  border-top-left-radius: .3rem;
}

.help-menu-list-item:last-child{
  border-bottom: 0;
  border-bottom-left-radius: .3rem;
}

.help-menu-list-item:hover{
  cursor: pointer;
}

.help-menu-list-item.active{
  background-color: rgb(255,255,255);
  border-right: 1px solid rgb(255,255,255);
}

.help-menu-list-title{
  margin: 0;
  padding: 45% 0;
  text-align: center;
}

.help-menu-list-title:hover{
  cursor: pointer;
}

.help-menu-p{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.3rem;
}

.w-55{
  width: 55%;
}

.w-65{
  width:65%;
}

.w-85{
  width: 85%;
}

.help-menu-content{
  height: 90vh;
  max-height: 90vh;
}

.rounded{
  border-radius: 0.25rem;
}

.help-body{
  height: calc(90vh - 80px);
  max-height: calc(90vh - 80px);
  overflow-y: auto;
}

.help-menu-header{
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
}

.plot-title{
  text-align: center;
}

.plot-extra{
  text-align: center;
}

.table th{
  border-top: none;
  padding: 0.5rem 1rem;
}

.table td{
  padding: 0.5rem 1rem;
}

.table th:first-child{
  border-top-left-radius: 0.25rem;
}

.table th:last-child{
  border-top-right-radius: 0.25rem;
}

.btn-green{
  background-color: #01750e !important;
  color: white;
}

.btn-green:hover{
  background-color: #009c12 !important;
  color: white;
}

.p-or{
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0;
}
.removeSource{
    color: red;
}
.removeSource:hover{
  cursor: pointer;
}
.removeSource{
  color: red;
}
.removeSource:hover{
cursor: pointer;
}
.o-0{
  opacity: 0;
}

.inner-section-title{
  font-variant: small-caps;
  margin-bottom: 1.25rem;
  text-align: center;
  width: 100%;
}

.hr-lrc{
  border-top: 3px solid #221f72;
}


ul.list-group.list-group-hover li:hover{
  cursor: pointer;
  background: #eee;
}

.list-height {
    height: 20rem;
    max-height: 20rem;
    overflow-y: scroll;
}

.text-lrc{
  color: #221f72;
}

.list-group {
    border: 1px solid #ccc;
    border-radius: 10px;
}

.light-bg{
  border-radius: .25rem;
  margin-bottom: 2rem;
  background:#F2F2F2 ;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

select {
    background: transparent;
}

.btn-lrc{
  background-color: #221f72;
  color: white;
}

.btn-lrc:hover{
  background-color: #d80b8c;
  color: white;
}

.btn-lrc:focus {
  outline: none;
  border-color: #d80b8c;
  box-shadow: none;
}

.btn-lrc.active{
  background-color: #d80b8c;
  outline: none !important;
  border-color: #d80b8c;
  box-shadow:  0px 0px 4px #d80b8c;
}

/* .btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active, 
.show > .btn-primary.dropdown-toggle {
  background-color: orange;
} */


.mw-175{
  min-width: 175px;
}

.input-group-prepend, .input-group-text{
  min-width: 175px;
}



.input-group-text{
  display: block;
}

.chart-legend li span{
  display: inline-block;
  height: 12px;
  margin-right: 5px;
  width: 12px;
}

.nav-pills>li>a{
	color: gray;
}

.nav-pills>li>a:focus, .nav-pills>li>a:hover {
	color: black;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
	background-color: black;
}

.card-header{
  border-bottom: none;
  padding: 0;
}

.selected-source:hover{
  cursor: pointer;
}

.step-title{
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: .25rem;
  padding-bottom: .5rem;
  padding-top: .5rem;
  text-align: center;
}

.step-title-container.active{
  background-color: white;
  border-bottom: none;
}

.step-title-container.disabled{
  opacity: 0.3;
}

.step-title-container.disabled:hover{
  cursor: default;
}

.step-title-container{
  padding: 0;
}

.step-title-container:hover{
  cursor: pointer;
}

.page-title{
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: .25rem;
  padding-bottom: .5rem;
  padding-top: .5rem;
  text-align: center;
}

.page-title-container.active{
  background-color: white;
  border-bottom: none;
}

.page-title-container.disabled{
  opacity: 0.3;
}

.page-title-container.disabled:hover{
  cursor: default;
}

.page-title-container{
  padding: 0;
}

.page-title-container:hover{
  cursor: pointer;
}

.top-label{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.bottom-input{
  border-top-right-radius: 0;
  border-bottom-left-radius: 0.25rem !important;

}

.middle{
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

thead.thead-dark tr th{
  background-color: #221f72 !important;
  border-color: #212529 !important;
}

.w-100calc{
  width: calc(100% - 30px);
}

.step-title-container:first-child{
  border-top-left-radius: .25rem;

}

.step-title-container:last-child{
  border-right: 1px solid transparent;
  border-top-right-radius: .25rem;
}

@media only screen and (max-width: 720px) {
  #content{
    padding-left: 0;
    padding-right: 0;
  }
}