/* CSS Sheet for Circadian Calculator */
html,body{
  font-family: arial;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2rem;
}

ul {
   list-style:none;
}

h2 {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: .25rem;
  padding-bottom: .5rem;
  padding-top: .5rem;
  text-align: center;
}

.mh-50 {
  max-height: 50vh;
  overflow: auto;
}

.ssIll{
  max-width: 200px;
}

#continue-to-calculations-button {
  width: 100%;
}

#content{
  height: 100%;
  min-height: 100%;
}

#SPDTableRow{
  max-height: 400px;
  overflow: auto;
}

#content{
  margin-top: 1.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

#copy-to-clipboard {
  font-weight: 800;
}

#copy-to-clipboard:hover{
  cursor: pointer;
}

.measurement {
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.view-combined-spd{
  color:#221f72
}


.view-combined-spd:hover{
  color: #D80B8C
}

.input-variable {
  display: block;
  font-size: 1rem;
  font-weight: 600;
}

.measurement-value-pair, .input-variable, .selected_source_, .selected_source {
  border-radius: 0.25rem;
}

.measurement-row:nth-child(even) .measurement-value-pair, .spd-row:nth-child(even) .spd-pair{
  background-color: #F2F2F2;
}

.sources_-row:nth-child(odd) .selected_source_, .sources-row:nth-child(odd) .selected_source{
    background-color: #F2F2F2;
}

.spd-wl-title, .spd-value-title{
  font-weight: 600;
}

.ms-purple {
  color: #221f72
}

.ms-pink {
  color: #D80B8C
}

.beta-banner{
  padding: 0.5rem;
  font-size: 1rem;
}

.pointer:hover{
  cursor: pointer !important;
}

.w-80{
  width: 80%;
}

.w-40{
  width: 40%;
}

.w-30{
  width: 30%;
}

.w-20{
  width: 20%;
}

.w-10{
  width: 10%;
}

.text-red{
  color: red;
}

.description-collapse:hover{
  cursor: pointer;
}

.description-collapse-collapsed{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.card-footer{
  font-size: 1rem;
}

.lux-change-pending{
  font-size: 0.75rem;
  font-style: italic;
  font-weight: 400;
}

.drop-shadow {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.18), 0 10px 10px rgba(0, 0, 0, 0.24);
}

.drop-shadow-light {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.18), 0 10px 10px rgba(0, 0, 0, 0.24);
}

.help-menu-list{
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.help-menu-list-item{
  background-color: rgb(235,235,235);
  border-bottom: 1px solid rgb(0,0,0);
  border-bottom: 1px solid rgba(0,0,0,.125);
  border-right: 1px solid rgb(0,0,0);
  border-right: 1px solid rgba(0,0,0,.125);
  box-sizing: border-box;
  height: 50%;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.help-menu-list-item:first-child{
  border-top-left-radius: .3rem;
}

.help-menu-list-item:last-child{
  border-bottom: 0;
  border-bottom-left-radius: .3rem;
}

.help-menu-list-item:hover{
  cursor: pointer;
}

.help-menu-list-item.active{
  background-color: rgb(255,255,255);
  border-right: 1px solid rgb(255,255,255);
}

.help-menu-list-title:hover{
  cursor: pointer;
}

.help-menu-p{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.3rem;
}

.w-45{
  width: 45%;
}

.w-55{
  width: 55%;
}

.w-65{
  width:65%;
}

.w-85{
  width: 85%;
}

.rounded{
  border-radius: 0.25rem;
}

.help-body{
  height: calc(90vh - 80px);
  max-height: calc(90vh - 80px);
  overflow-y: auto;
}

.help-menu-header{
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
}

.plot-title{
  text-align: center;
}

.plot-extra{
  text-align: center;
}

.table th{
  border-top: none;
  padding: 0.5rem 1rem;
}

.table td{
  padding: 0.5rem 1rem;
}

.table th:first-child{
  border-top-left-radius: 0.25rem;
}

.table th:last-child{
  border-top-right-radius: 0.25rem;
}

.btn-green{
  background-color: #01750e !important;
  color: white;
}

.btn-green:hover{
  background-color: #009c12 !important;
  color: white;
}

.p-or{
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0;
}
.removeSource{
    color: red;
}
.removeSource:hover{
  cursor: pointer;
}
.removeSource{
  color: red;
}
.removeSource:hover{
cursor: pointer;
}
.o-0{
  opacity: 0;
}

.inner-section-title{
  font-variant: small-caps;
  margin-bottom: 1.25rem;
  text-align: center;
  width: 100%;
}

.hr-lrc{
  border-top: 3px solid #221f72;
}


ul.list-group.list-group-hover li:hover{
  cursor: pointer;
  background: #eee;
}

.names-list {
    height: 20rem;
    max-height: 20rem;
    overflow-y: scroll;
}

.text-lrc{
  color: #221f72;
}

.page-footer{
  position: relative;
}

.light-bg{
  border-radius: .25rem;
  margin-bottom: 2rem;
  background:#F2F2F2 ;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

select {
    background: transparent;
}

.help-button{
  padding: 0;
  color: #221f72;
  float: right;
}

.add-source-button{
  position: absolute;
  right: 0;
  color: #221f72;
}

.selected-source-icon {
    color: #221f72;
}

.toggle-help-menu-button{
  position: absolute;
  right: 0;
  bottom: 50%;
  transform: translate(0, 50%);
  color: #221f72;
}

.view-combined-spd-button{
  position: absolute;
  right: 0;
  color: #221f72;
}

.help-button:hover, .add-source-button:hover, .toggle-help-menu-button:hover, .selected-source-icon:hover, .view-combined-spd-button:hover{
  color: #d80b8c;
}


.btn-lrc{
  background-color: #221f72;
  color: white;
}

.btn-lrc:hover{
  background-color: #d80b8c;
  color: white;
}

.btn-lrc.plot-btn:focus {
  outline: none;
  border-color: #d80b8c;
}

.btn-lrc.active{
  background-color: #d80b8c;
  outline: none !important;
  border-color: #d80b8c;
  box-shadow:  0px 0px 4px #d80b8c;
}

/* .btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active, 
.show > .btn-primary.dropdown-toggle {
  background-color: orange;
} */


.mw-175{
  min-width: 175px;
}

.input-group-prepend, .input-group-text{
  min-width: 175px;
}



.input-group-text{
  display: block;
}

.chart-legend li span{
  display: inline-block;
  height: 12px;
  margin-right: 5px;
  width: 12px;
}

.nav-pills>li>a{
	color: gray;
}

.nav-pills>li>a:focus, .nav-pills>li>a:hover {
	color: black;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
	background-color: black;
}

.card-header{
  border-bottom: none;
  padding: 0;
}

.ms-logo{
  width: 25%;
}

.selected-source:hover{
  cursor: pointer;
}

.step-title{
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: .25rem;
  padding-bottom: .5rem;
  padding-top: .5rem;
  text-align: center;
}

.step-title-container.active{
  background-color: white;
  border-bottom: none;
}

.step-title-container.disabled{
  opacity: 0.3;
}

.step-title-container.disabled:hover{
  cursor: default;
}

.step-title-container{
  padding: 0;
}

.step-title-container:hover{
  cursor: pointer;
}

.page-title{
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: .25rem;
  padding-bottom: .5rem;
  padding-top: .5rem;
  text-align: center;
}

.page-title-container.active{
  background-color: white;
  border-bottom: none;
}

.page-title-container.disabled{
  opacity: 0.3;
}

.page-title-container.disabled:hover{
  cursor: default;
}

.page-title-container{
  padding: 0;
}

.page-title-container:hover{
  cursor: pointer;
}

.top-label{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.bottom-input{
  border-top-right-radius: 0;
  border-bottom-left-radius: 0.25rem !important;

}

.middle{
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

thead.thead-dark tr th{
  background-color: #221f72 !important;
  border-color: #212529 !important;
}

.w-100calc{
  width: calc(100% - 30px);
}

.step-title-container:first-child{
  border-top-left-radius: .25rem;

}

.step-title-container:last-child{
  border-right: 1px solid transparent;
  border-top-right-radius: .25rem;
}

@media only screen and (min-width:992px) {
  .source-spd{
    padding: 1.25rem;
  }
}

@media only screen and (min-width: 1200px) {
  #continue-to-calculations-button {
    width: auto;
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
}

@media only screen and (max-width: 720px) {
  #content{
    padding-left: 0;
    padding-right: 0;
  }

  .ms-logo{
    width: 80%;
  }
}

@media only screen and (max-width: 960px) {
  .ms-logo{
    width: 80%;
  }
  .card-body {
    padding-right: 0.25rem;
    padding-left: 0.25rem;
  }
}

@media only screen and (max-width: 1140px) {
  .ms-logo{
    width: 60%;
  }
}