:focus {outline:none;}
::-moz-focus-inner {border:0;}

#mainNav {
  background-color: #00205b;
}

#navbar{
  width: 100%;
  z-index: 10;
  top: 0;
}

.cursor-hover:hover{
  cursor: pointer;
}

.dropdown-item{
  color: #ddd !important;
  font-family: "Source Sans Pro", sans-serif;
  padding: 0.5rem 0.25rem;
  width: 100%;
  white-space: normal;
}

.dropdown-item:hover{
  color: #fff !important;
  background-color: #0059ff;
}

#mainNav .dropdown-menu {
  background-color:#00205b;
  color:#FFF;
  text-align:center;
  width: 100%;
  padding: 0 !important;
  margin-top:0;
  border: 3px solid black;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 0;
  background-color: #00205b;
  font-family: "Oswald";
}

#mainNav .navbar-toggler:hover,
 #mainNav .navbar-toggler:focus{
	font-style:bold;
	outline:none;
}

#mainNav .navbar-brand {
  color: #dddddd;
  font-family: 'Germond Pro';
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #FFFFFF;
  font-style: bold;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: #dddddd;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #FFFFFF;
}

.bb {
    border-bottom: 3px solid black;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: #00205b;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1rem 1rem !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #00205b;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.45em;
    padding: 0;
  }
}
