#mainNav {
  background-color: #00205b;
}

#navbar{
  width: 100%;
  z-index: 10;
  top: 0;
}

#mainNav .dropdown-menu {
  background-color:#00205b;
  color:#FFF;
  text-align:center;
  width:100%;
  padding-top:none;
  margin-top:0;
  border: 1px solid white;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 0;
  background-color: #00205b;
  font-family: "Oswald";
}

#mainNav .navbar-toggler:hover,
 #mainNav .navbar-toggler:focus{
	font-style:bold;
	outline:none;
}

#mainNav .navbar-brand {
  color: #dddddd;
  font-family: 'Germond Pro';
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #FFFFFF;
  font-style: bold;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: #dddddd;
  font-family: Oswald;/*'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';*/
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #FFFFFF;
}

.bb {
    border-bottom: 3px solid black;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: #00205b;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #00205b;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.45em;
    padding: 12px 0;
  }
}
