/* CSS Sheet for Circadian Calculator */
html{
  font-size: 1.2rem;
  font-family: arial;
  font-family: 'Source Sans Pro', sans-serif;
}

ul {
   list-style:none;
}

.p-or{
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0;
}

.o-0{
  opacity: 0;
}

.inner-section-title{
  width: 100%;
  text-align: center;
  font-variant: small-caps;
  margin-bottom: 1.25rem;
}

.hr-lrc{
  border-top: 3px solid #00205b;
}

.list-height {
    height: 20rem;
    max-height: 20rem;
    overflow-y: scroll;
}

.text-lrc{
  color: #00205b;
}

.list-group {
    border: 1px solid #ccc;
    border-radius: 10px;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
select {
    background: transparent;
}

.btn-lrc{
  background-color: #00205b;
  color: white;
}

.btn-lrc:hover{
  background-color: #0044c2;
  color: white;
}

.input-group-prepend, .input-group-text{
  min-width: 175px;
}

.no-min-width{
  min-width: none;
}

.list-group-item:hover{
  color: white !important;
  background-color: #00205b !important;
}


.top-label{
  border-top-left-radius: .25rem !important;
  border-top-right-radius: .25rem !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom: none;
}

.bottom-input{
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: .25rem !important;
  border-bottom-right-radius: .25rem !important;
}

.input-group-text{
  display: block;
}

.chart-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.nav-pills>li>a{
	color: gray;
}
.nav-pills>li>a:focus, .nav-pills>li>a:hover {

	color: black;

}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
	background-color: black;
}

.card-header{
  padding: 0;
  border-bottom: none;
}

h2.step-title{
  text-align: center;
  margin-bottom: .25rem;
  padding-bottom: .5rem;
  padding-top: .5rem;
  font-weight: 600;
  font-size: 1.5rem;
}

.step-title-container.active{
  border-bottom: none;
  background-color: white;
}

.step-title-container{
  border-right: 1px solid rgba(0,0,0,.125);
  cursor: pointer;
  padding: 0;
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.step-title-container:hover{
  /* background-color: #00205b;
  color: white; */
}

.middle{
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.w-100calc{
  width: calc(100% - 30px);
}

.step-title-container:first-child{
  border-top-left-radius: .25rem;

}

.step-title-container:last-child{
  border-right: 1px solid transparent;
  border-top-right-radius: .25rem;
}

@media only screen and (max-width : 992px) {
	/*
	#mid-col {
		border-right: none !important;
		border-left: none !important;
	}
	*/
}
