/* CSS Sheet for Circadian Calculator */
html{
  font-size: 1.2rem;
  font-family: arial;
  font-family: 'Source Sans Pro', sans-serif;
}

ul {
   list-style:none;
}

.p-or{
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0;
}

.btn-lrc{
  background-color: #00205b;
  color: white;
}

.btn-lrc:hover{
  background-color: #0044c2;
  color: white;
}

.input-group-prepend, .input-group-text{
  min-width: 150px;
}

.input-group-text{
  display: block;
}

.chart-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.nav-pills>li>a{
	color: gray;
}
.nav-pills>li>a:focus, .nav-pills>li>a:hover {

	color: black;

}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
	background-color: black;
}

.card-header{
  padding: 0;
  border-bottom: none;
}

h2.step-title{
  text-align: center;
  margin-bottom: .25rem;
  padding-bottom: .5rem;
  padding-top: .5rem;
  font-weight: 600;
  font-size: 1.5rem;
}

.step-title-container.active{
  border-bottom: none;
  background-color: white;
}

.step-title-container{
  border-right: 1px solid rgba(0,0,0,.125);
  cursor: pointer;
  padding: 0;
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.step-title-container:hover{
  /* background-color: #00205b;
  color: white; */
}

.middle{
  position: absolute;
  top: 50px;
  transform: translate(0, -50%);
}

.step-title-container:first-child{
  border-top-left-radius: .25rem;

}

.step-title-container:last-child{
  border-right: 1px solid transparent;
  border-top-right-radius: .25rem;
}

@media only screen and (max-width : 992px) {
	/*
	#mid-col {
		border-right: none !important;
		border-left: none !important;
	}
	*/
}
